<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta caharset="utf-8">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <title>django</title>
    </head>
    <body>
        <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">produtos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">sobre nos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        <main>

    </body>
    </html>